---
---
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

$baseColor: #535353;
$breakpoint: 900px;
$nav-height: 70px;

@import "main";
@import "navbar";
@import "about";
@import "area";
@import "team";
@import "profile";
