{% assign t = site.data.languages[page.lang] %}
<section class="area section" id="area">
	<article>
		<h2>{{t.areas.title}}</h2>
		<div class="technical_areas">
			<ul>
				<li>{{t.areas.area1}}</li>
				<li>{{t.areas.area2}}</li>
				<li>{{t.areas.area3}}</li>
				<li>{{t.areas.area4}}</li>
				<li>{{t.areas.area5}}</li>
				<li>{{t.areas.area6}}</li>
				<li>{{t.areas.area7}}</li>
			</ul>
			<ul>
				<li>{{t.areas.area8}}</li>
				<li>{{t.areas.area9}}</li>
				<li>{{t.areas.area10}}</li>
				<li>{{t.areas.area11}}</li>
				<li>{{t.areas.area12}}</li>
				<li>{{t.areas.area13}}</li>
				<li>{{t.areas.area14}}</li>
			</ul>
			<ul>
				<li>{{t.areas.area15}}</li>
				<li>{{t.areas.area16}}</li>
				<li>{{t.areas.area17}}</li>
				<li>{{t.areas.area18}}</li>
				<li>{{t.areas.area19}}</li>
				<li>{{t.areas.area20}}</li>
			</ul>
		</div>
	</article>
</section>
