{% assign t = site.data.languages[page.lang] %}
<section class="area">
	<article>
		<h2>Fachgebiete</h2>
		<div class="technical_areas">
			<ul>
				<li>Agrochemikalien</li>
				<li>Automobiltechnik</li>
				<li>Biotechnologie</li>
				<li>Chemie</li>
				<li>Konsumgüter</li>
				<li>Kosmetik</li>
				<li>Umwelttechnologie</li>
			</ul>
			<ul>
				<li>Ingenieurwesen</li>
				<li>Nahrungsmitteltechnologie</li>
				<li>Hausgerätetechnik</li>
				<li>Anlagen und Ausrüstungen</li>
				<li>Neue Materialien</li>
				<li>Maschinenbau</li>
				<li>Medizinische Geräte</li>
			</ul>
			<ul>
				<li>Verpackungen</li>
				<li>Pharmazie</li>
				<li>Verfahrenstechnik</li>
				<li>Einzelhandel und Mode</li>
				<li>Software & IT</li>
				<li>Telekommunikation</li>
			</ul>
		</div>
	</article>
</section>
