<section class="contact" id="contact">
	<article>
		<h2>{{t.contact.title}}</h2>
		<div>
			<h3>{{t.contact.company_title}}</h3>
			<h4>{{t.contact.company_subtitle}}</h4>
			<p>{{t.contact.street}}<br>
				{{t.contact.postal}}<br>
	 			{{t.contact.country}}</p>
		</div>
		<div>
	 		<p><span>{{t.contact.tel_title}} </span>{{t.contact.tel}}</p>
	 		<p><span>{{t.contact.email_title}} </span>{{t.contact.email}}</p>
	 		<p><span>{{t.contact.web_title}} </span>{{t.contact.web}}</p>
		</div>


	</article>
</section>
