{% assign t = site.data.languages[page.lang] %}
<header class="navigation">
  <div class="nav-content">
    <div class="brand">
      <a href="/#home">Ziebig 
        <br>& Hengelhaupt</a>
      <img src="/assets/img/ziebig-hengelhaupt-logo.png">
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
      <ul class="language-selector {{ page.lang }}">
          {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
          {% for page in pages %}
            <li>
              <a href="{{ page.url }}" class="{{ page.lang }}"><i></i></a>
            </li>
          {% endfor %}  
      </ul>
      <div class="m1 menu">
      <div id="menu-center">
        <ul class="nav-list">
          <li>
            <a href="#about">{{t.about.title}}</a>
          </li>
          <li>
            <a href="#area">{{t.areas.title}}</a>
          </li>
          <li>
            <a href="#team">{{t.team.title}}</a>
          </li>
          <li>
            <a href="/contact">{{t.menu.contact}}</a>
          </li>
          <li>
            {{t.menu.tel}}
          </li>
        </ul>
        
      </div>
    </nav>
  </div>
</header>
