<section class="team">
	<article>
		<h2>Team</h2>
		<div>
			<h4>Partner</h4>

			<ul>
				<li>
					<img src="/assets/img/team/ziebig.jpg">
					<h3>Ziebig</h3>
					<p>Patentanwältin</p>
					<a href="">Mehr erfahren</a>
				</li>
				<li>
					<img src="/assets/img/team/hengelhaupt.jpg">
					<h3>Hengelhaupt</h3>
					<p>Patentanwalt</p>
					<a href="">Mehr erfahren</a>
				</li>
				<li>
					<img src="/assets/img/team/schrick.jpg">
					<h3>Schrick</h3>
					<p>Patentanwalt</p>
					<a href="">Mehr erfahren</a>
				</li>
			</ul>
		</div>
		<div class="mitarbeiter">
			<h4>Mitarbeiter</h4>
			<ul>
				<li>
					<img src="/assets/img/team/sommer.jpg">
					<h3>Sommer</h3>
				</li>
				<li>
					<img src="/assets/img/team/winkler.jpg">
					<h3>Winkler</h3>
				</li>
				<li>
					<img src="/assets/img/team/goesch.jpg">
					<h3>Goesch</h3>
				</li>
				<li>
					<img src="/assets/img/team/feng.jpg">
					<h3>Feng</h3>
					<a href="">Mehr erfahren</a>
				</li>
				<li>
					<img src="/assets/img/team/heinrich.jpg">
					<h3>Heinrich</h3>
					<a href="">Mehr erfahren</a>
				</li>
				<li>
					<img src="/assets/img/team/sun.jpg">
					<h3>Sun</h3>
					<a href="">Mehr erfahren</a>
				</li>
				<li>
					<img src="/assets/img/team/walter.jpg">
					<h3>Walter</h3>
				</li>
				<li>
					<img src="/assets/img/team/zhu.jpg">
					<h3>Zhu</h3>
					<a href="">Mehr erfahren</a>
				</li>
			</ul>
		</div>
	</article>
</section>
