//
//
// Navbar
//
//

// Outer navigation wrapper
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 999;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.28);
}

.nav-content {
  display: flex;
  justify-content: space-between;
  padding: 0 1.7em;
}

.language-selector.de {
  a.de i {
    background-image: url(/assets/img/lang-icons/de-icon.png);
    pointer-events: none;
  }

  a.cn i {
    background-image: url(/assets/img/lang-icons/ch-icon-bw.png);
    &:hover {
        background-image: url(/assets/img/lang-icons/ch-icon.png);
    }
  }

  a.en i {
    background-image: url(/assets/img/lang-icons/en-icon-bw.png);
    &:hover {
        background-image: url(/assets/img/lang-icons/en-icon.png);
    }
  }
}

.language-selector.en {
  a.de i {
    background-image: url(/assets/img/lang-icons/de-icon-bw.png);
    &:hover {
      background-image: url(/assets/img/lang-icons/de-icon.png);
    }
  }

  a.cn i {
    background-image: url(/assets/img/lang-icons/ch-icon-bw.png);
    &:hover {
        background-image: url(/assets/img/lang-icons/ch-icon.png);
    }
  }

  a.en i {
    pointer-events: none;
    background-image: url(/assets/img/lang-icons/en-icon.png);
  }
}

.language-selector.cn {
  a.de i {
    background-image: url(/assets/img/lang-icons/de-icon.png);
    &:hover {
      background-image: url(/assets/img/lang-icons/de-icon.png);
    }
  }

  a.cn i {
    pointer-events: none;
    background-image: url(/assets/img/lang-icons/ch-icon.png);
  }

  a.en i {
    background-image: url(/assets/img/lang-icons/en-icon-bw.png);
    &:hover {
        background-image: url(/assets/img/lang-icons/en-icon.png);
    }
  }
}

// Logo and branding
.brand {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: 19px;
  margin: 28px 0 15px;

  img {
    height: 29px;
    position: absolute;
    top: -8px;
    right: 12px;
  }

  a,
  a:visited {
    color: inherit;
    text-decoration: none;
  }
}

// Navigation 
nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  ul.language-selector {
    li {
      a {
        padding: 12px 12px;
        i {
          display: inline-block;
          width: 14px;
          height: 14px;
          background-size: contain;

        }
      }
    }
    li:last-child a {
      margin-right: -12px;
    }

  }

  ul.nav-list {
    li {
      padding: 12px 16px;
    }
    li:last-child {
      padding: 12px 0 12px 16px;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    li {
      float: left;
      position: relative;
      a {
        text-decoration: none;
      }
      a,
      a:visited {
        display: block;
        color: $baseColor;
        &:hover,
        &.active {
          font-weight: bold;
        }
      } // Dropdown list
    }
  }
}

// Dropdown list binds to JS toggle event
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */

// Binds to JS Toggle
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: $nav-height;
  width: $nav-height;
}
@media only screen and (max-width: $breakpoint) {
  // Hamburger nav visible on mobile only
  .nav-content {
    display: block;
  }
  .nav-mobile {
    display: block;
  }
  nav {
    display: block;
    width: 100%;
    ul.language-selector {
      text-align: right;
      padding-top: 1em;
      margin-top: 1em;
      border-top: 1.6px solid #e1e1e1;
      li {
        display: inline-block;
        border-bottom: none;
      }
    }

    ul.nav-list {
      li {
        border-bottom: 1.5px solid #e1e1e1;
      }
      li:first-child {
        padding: 0 16px 12px 16px;
      }
    }

    ul {
      display: none;
      li {
        float: none;
      }
    }
  }
  .nav-dropdown {
    position: static;
  }
}

@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 31px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before
  ,
  span:after {
    background-color: #ababab;
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
